@* Copyright (C) 2021  Kamil Bugno
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with this program.  If not, see https://www.gnu.org/licenses/.*@

@inject Microsoft.AspNetCore.Components.NavigationManager navigationManager
@inject IdentityAuthenticationStateProvider authStateProvider
@inject ICourseApi courseApi

<div class="grid-container">
    <div class="details">
        <div class="info">
            <h2>Hi @userName!</h2>
            <h5>We have stats for you:</h5>
            <p>You have created @courses.Where(c => !c.IsVisibleForEveryone).Count() courses</p>
            <p>
                All your courses contain @courses.Where(c => !c.IsVisibleForEveryone).Sum(c => c.NumberOfWords)
                words
            </p>
        </div>
    </div>
    <div class="main">
        @if (!isLoading)
         {
            @foreach (var course in courses)
             {
                 <div class="course-tile course-tile-content">
                     @if (!course.IsVisibleForEveryone)
                     {
                        <a class="edit" href="@($"/details/{course.Id}")">Edit</a>
                     }
                     <h2>@course.Name</h2>
                     <p class="description @(ShouldBeSmaller(course.Description) ? "smaller" : "")">@course.Description</p>
                     <div class="actions">
                        <div>
                            <span>@course.NumberOfKnownWords/@course.NumberOfWords</span>
                        </div>                       
                        <button class="btn" @onclick=@(() => Learn(course.Id))>Learn</button>
                     </div>
                 </div>
            }
            <div class="course-tile add-new" @onclick=@(() => AddNewCourse())>
                <img src="/assets/add.png" />
                <button class="btn">+ Add a new course</button>
            </div>
        }
        else
        {
            <div class="course-tile add-new")>
                <p>Loading...</p>
            </div>
        }
    </div>
</div>


@code {
    private IEnumerable<CourseDto> courses = new List<CourseDto>();
    private string userName;
    private bool isLoading = true;

    private bool ShouldBeSmaller(string text) => text.Count() >= 25;

    protected override async Task OnInitializedAsync()
    {
        courses = await courseApi.GetMyCourses();
        isLoading = false;
        userName = await authStateProvider.GetUserName();
    }

    void AddNewCourse()
    {
        navigationManager.NavigateTo("/details");
    }

    void Learn(int courseId)
    {
        navigationManager.NavigateTo($"/learning/{courseId}");
    }
}
