@page "/register"
@layout LoginLayout
@inject NavigationManager navigationManager
@inject IdentityAuthenticationStateProvider authStateProvider

<div class="login-container">
    <div class="header">
        <h4 class="text-center">Create Account</h4>
        <p style="font-size: 17px; margin: 0px 20px 0px 20px;">
            It is free and open source. By creating an account, you agree to the <a href="/terms" target="_blank">Terms</a> & <a href="/privacy" target="_blank">Privacy</a>.
        </p>
    </div>
    <div class="form-container">
        <div class="login-body">
            <EditForm class="form-signin" OnValidSubmit="OnSubmit" Model="registerParameters">
                <DataAnnotationsValidator />

                <label for="inputUsername" class="sr-only">User Name</label>
                <MatTextField id="inputUsername" Label="Username" autofocus @bind-Value="@registerParameters.UserName" />
                <ValidationMessage For="@(() => registerParameters.UserName)" />

                <label for="inputPassword" class="sr-only">Password</label>
                <MatTextField Type="password" id="inputPassword" Label="Password" @bind-Value="@registerParameters.Password" />
                <ValidationMessage For="@(() => registerParameters.Password)" />

                <label for="inputPasswordConfirm" class="sr-only">Password Confirmation</label>
                <MatTextField Type="password" id="inputPasswordConfirm" Label="Password Confirmation" @bind-Value="@registerParameters.PasswordConfirm" />
                <ValidationMessage For="@(() => registerParameters.PasswordConfirm)" />

                <div style="margin-bottom: 5px; transform: scale(0.94); -webkit-transform: scale(0.94); transform-origin: 0 0; -webkit-transform-origin: 0 0;">
                    <ReCAPTCHA @ref="reCAPTCHAComponent" SiteKey="6LfAwsUaAAAAAA0WXVyqnvFLAG7TMeHPSWyXDZ4Q" OnSuccess="OnSuccess" OnExpired="OnExpired" isError="isError" />
                </div>

                <button class="btn" type="submit">Create account</button>

                <label class="text-danger">@error</label>
                    <h6 style="font-size: 17px;" class="font-weight-normal text-center">Already have an account? <a href="login">Login here</a></h6>
            </EditForm>
        </div>
        <div class="login-image">
            <img src="/assets/login.png" />
        </div>
    </div>
</div>

@functions{

    RegisterParameters registerParameters { get; set; } = new RegisterParameters();
    string error { get; set; }
    private ReCAPTCHA reCAPTCHAComponent;
    private bool ValidReCAPTCHA = false;
    private bool ServerVerificating = false;
    private bool DisablePostButton => !ValidReCAPTCHA || ServerVerificating;
    private bool isError = false;

    private void OnSuccess()
    {
        isError = false;
        error = String.Empty;
        ValidReCAPTCHA = true;
    }

    private void OnExpired()
    {
        ValidReCAPTCHA = false;
        error = String.Empty;
    }

    async Task OnSubmit()
    {
        if (ValidReCAPTCHA && !isError)
        {
            error = null;
            var response = await reCAPTCHAComponent.GetResponseAsync();
            try
            {
                ServerVerificating = true;
                isError = false;
                StateHasChanged();
                registerParameters.CaptchaResponse = response;
                await authStateProvider.Register(registerParameters);
                navigationManager.NavigateTo("");
            }
            catch (Exception ex) when (!ex.Message.Contains("tools.ietf.org"))
            {
                error = ex.Message;
                ServerVerificating = false;
                isError = true;
                StateHasChanged();
            }
            catch (Exception ex) when (ex.Message.Contains("tools.ietf.org"))
            {
                error = "You need to use reCAPTCHA";
                ServerVerificating = false;
                isError = true;
                StateHasChanged();
            }
        }
        else
        {
            isError = true;
            error = "You need to use reCAPTCHA";
        }
    }
}
