@* Copyright (C) 2022  Kamil Bugno
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with this program.  If not, see https://www.gnu.org/licenses/.*@

@inject NavigationManager navigationManager

<div class="message-container">
    <h4>@Message</h4>
    @if (IsBuyMeACoffeVisible) { 
        <a href="https://www.buymeacoffee.com/kamilbugno" target="_blank">Buy Me a Coffe</a>
    }
    <div class="image">
        <img src="@ImagePath" />
    </div>
    @if (HasContinueButton)
    {
        <button @onclick="@RetrieveNewData" class="btn btn-lg btn-primary">Continue learning</button>
        <span @onclick="@GoToDashboard">Return to dashboard</span>
    }
    else
    {
        <button @onclick="@GoToDashboard" class="btn btn-lg btn-primary">Return to dashboard</button>
    }
</div>

@code{
    [Parameter]
    public string Message { get; set; }
    [Parameter]
    public string ImagePath { get; set; }
    [Parameter]
    public EventCallback OnClick { get; set; }
    [Parameter]
    public bool HasContinueButton { get; set; }
    [Parameter]
    public bool IsBuyMeACoffeVisible { get; set; }

    private async Task RetrieveNewData()
    {
        await OnClick.InvokeAsync();
    }

    private void GoToDashboard()
    {
        navigationManager.NavigateTo("/");
    }
}